<main>
  <section id="intro">
    <h1>WorldWideWebers</h1>
    <h2>application development solutions</h2>
  </section>
  <section id="about">
    <h1>About Us</h1>
    <p>
      We are a father and son development team specializing in the development
      of web, mobile, desktop, and hybrid applications. We employ a highly
      specific tech stack using the
      <a href="https://reactjs.org/">React</a> or
      <a href="https://angular.io/">Angular</a> frameworks,
      <a href="https://ionicframework.com/">Ionic</a>, and possibly
      <a href="https://www.electronjs.org/">Electron</a>.
    </p>
    <div>
      <div>
        <h2>Nicholas Weber</h2>
        <div class="dev-photo"></div>
        <ul>
          <li>Junior developer and user experience specialist</li>
          <li>
            B.S. in Information Technology from Capella University with a minor
            in Web Application Development
          </li>
          <li>
            <a href="mailto:nikko@worldwidewebers.io">
              nikko@worldwidewebers.io
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2>Matthew Weber</h2>
        <div class="dev-photo"></div>
        <ul>
          <li>Senior developer and full-stack expert</li>
          <li>B.A. in Philosophy from University of Texas, Austin</li>
          <li>
            M.S, C.I.S. in Computer Information Systems from Regis University
          </li>
          <li>
            <a href="mailto:golfergeek@worldwidewebers.io">
              golfergeek@worldwidewebers.io
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="services">
    <h1>One codebase for everything.</h1>
    <div>
      <div>
        <h2>Web applications</h2>
        <p class="emoji">🌐</p>
        <ul>
          <li>React</li>
          <li>Angular</li>
          <li>Firebase</li>
          <li>API with .NET Core/C#</li>
        </ul>
      </div>
      <div>
        <h2>Hybrid/mobile applications</h2>
        <p class="emoji">📱</p>
        <ul>
          <li>Ionic + React</li>
        </ul>
      </div>
      <div>
        <h2>Desktop applications</h2>
        <p class="emoji">🖥️</p>
        <ul>
          <li>Electron</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="contact">
    <h1>Contact</h1>
    <div>
      <div>
        <h2>Phone</h2>
        <p class="emoji">☎️</p>
        <a href="tel:7632185933">763-218-5933</a>
      </div>
      <div>
        <h2>Email</h2>
        <p class="emoji">✉️</p>
        <a href="mailto:admin@worldwidewebers.io"> admin@worldwidewebers.io </a>
      </div>
    </div>
  </section>
  <section id="blog">
    <h1>Blog</h1>
    <div>
      <div>
        <div>
          <!-- <h1>{post.postTitle}</h1>
          <p>Posted <b>{post.createDate}</b> by <b>{post.userName}</b></p> -->
        </div>
      </div>
    </div>
  </section>
</main>
